@import "bootstrap-rewrite";
.select2-dropdown {
	z-index: 9001 !important;
}
.modal-dialog {
	z-index: 1050;
}
.i-checks {
	.icheckbox_square-green {
		position: relative;
		input {
			position: absolute;
			opacity: 0;
		}
		.iCheck-helper {
			position: absolute;
			top: 0%;
			left: 0%;
			display: block;
			width: 100%;
			height: 100%;
			margin: 0px;
			padding: 0px;
			background: rgb(255, 255, 255);
			border: 0px;
			opacity: 0;
		}
	}
}
.artist-selection {
	display: inline-block;
	float: left;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 2px 5px;
	margin-right: 5px;

	span {
		margin-right: 7px;
	}

	i {
		font-size: 12px;
		line-height: 18px;
		cursor: pointer;
		color: #999;

		&:hover {
			color: #333;
		}
	}

	&:hover {
		border-color: #bbb;
	}
}
#artists-modal, #modal {
	table {
		tr {
			.fa-check-square-o {
				line-height: 18px;
				height: 18px;
				display: none;
			}
			.fa-square-o {
				line-height: 18px;
				height: 18px;
				display: block;
			}

			&.active {
				.fa-check-square-o {
					display: block;
				}
				.fa-square-o {
					display: none;
				}
			}
		}
	}
}
.record-artwork{
	position: relative;

	img{

	}

	.change-btn{
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px 15px;
		background: transparent;
		color: transparent;
		transition: background-color 0.1s, color 0.1s;
		cursor: pointer;
		z-index: 10;
	}

	.background{
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		background-color: transparent;
		transition: background-color 0.1s;
	}

	&:hover{
		.background {
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.15);
		}

		.change-btn{
			background: rgba(0,0,0, 0.4);
			color: #fff
		}
	}
}
