@import "bootstrap-rewrite.scss";

body {
  background: #eee;
}
hr {
  margin: 10px 0;
  border-top: 1px solid #ccc;
}
header {
  height: 50px;
  line-height: 50px;
  background: #27261f;
  .navbar-brand {
	line-height: 50px;
	padding: 0 15px;
	color: #aaa;
	transition: color 0.5s;
	&:hover {
	  color: #fff;
	}
  }
  .navbar-right {
	li {
	  a {
		background: transparent !important;
		color: #aaa;
		transition: color 0.5s;
		&:hover,
		&:focus {
		  color: #fff;
		}

	  }
	}
  }
}
.record-wrapper {
  //position: relative;
  //margin-bottom: 20px;
  //box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  //transition: box-shadow 0.2s;
  //padding: 5px;
  &:hover {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	figure {
	  .image-opacity {
		opacity: 0;
	  }
	}
	.details {
	  a {
		color: #000;
		text-decoration: none;
	  }
	}
  }
  display: flex;
  figure {
	//flex: 3;
	position: relative;
	width: 30%;
	//border-radius: 50%;
	overflow: hidden;
	img {
	  width: 100%;
	}
	.image-opacity {
	  position: absolute;
	  top: 0;
	  height: 100%;
	  width: 100%;
	  display: block;
	  transition: opacity 0.2s;
	  opacity: 0.1;
	  background: #fff;
	}
	//&::after {
	//  content: '';
	//  position: absolute;
	//  top: 45%;
	//  left: 45%;
	//  width: 10%;
	//  height: 10%;
	//  border-radius: 50%;
	//  background: #fff;
	//}
  }
  .details {
	background: #fff;
	//flex: 7;
	padding: 5px 10px;
	width: 70%;
	//height: 100%;
	//vertical-align: middle;
	a {
	  //line-height: 20px;
	  font-size: 15px;
	  color: #444;
	  transition: color 0.2s;
	  &:hover {
		color: #222;
		text-decoration: none;
	  }
	}
  }
  .btn-add {
	position: absolute;
	right: 5px;
	bottom: 5px;
  }
}
/* Player */
.audio-player {
  .controls {
	.btn-player {
	  float: left;
	  display: inline-block;
	  cursor: pointer;
	  margin: 0 2px;
	  line-height: 35px;
	  height: 35px;
	  width: 20px;
	  text-align: center;

	  &:hover {
		i {
		  color: #333;
		}
	  }

	  //height: 25px;
	  //width: 25px;
	  //border-radius: 50%;
	  //border: 1px solid #999;
	  i {
		line-height: 35px;
	  }

	}

	.volume-wrapper {
	  position: relative;
	  background: #999;
	  height: 7px;
	  width: 200px;
	  display: inline-block;
	  cursor: pointer;
	  #volume {
		position: absolute;
		top: 0;
		left: 0;
		background: #555;
		height: 100%;

	  }
	}
  }
  #progress-bar {
	height: 5px;
	width: 100%;
	background: #999;
	cursor: pointer;
	#progress {
	  width: 0;
	  height: 5px;
	  //transition: width 5s;
	  background: #2b542c;
	  display: block;
	}
	//&:hover{
	//  #progress{
	//	width: 100%;
	//  }
	//}
  }
  #analyser {
	width: 100%;
	height: 50px;
	background: #b5c4db;
  }
}
.parent {
  background: #ccc;
  font-size: 0;
  .child {
	margin-right: 1px;
  }
  .bottom {
	.child {
	  vertical-align: top;
	}
  }
}
#playlist {
  padding: 0;
  li {
	list-style: none;
	.item {
	  width: 100%;
	  padding: 3px 10px;
	  //border-radius: 2px;
	  display: inline-block;
	  transition: background-color 0.3s;
	  cursor: pointer;
	  &:hover {
		color: #333;
	  }
	  &.active {
		background-color: #ddd;
	  }
	  span {
		color: #2b542c;
		font-weight: bold;
	  }
	}
  }
}
/* * New css */
main {
  padding-top: 40px;
}
.image-column {
  figure {
	width: 100%;
	max-width: 400px;
	img {
	  width: 100%;
	}
  }
}
.content {
  font-size: 15px;
  h2 {
	margin: 0;
	margin-bottom: 10px;
  }
}
.btn-primary {
  background: #286090;
  border: #286090;
  &:hover,
  &:focus,
  &:active {
	background: #265080;
  }
}
section.item {
  margin-bottom: 20px;
  p {
	margin-bottom: 5px;
  }
}
section.other-releases {
  background: #f5f5f5;
  padding: 20px 0;
}
.player-wrapper {
  margin-top: 40px;
  background: #ddd;
  padding: 10px;
  .audio-player {
	.volume-tool-wrapper {
	  border-left: 1px solid #bbb;
	  margin-left: 5px;
	  height: 35px;
	  line-height: 35px;
	  float: left;
	  i {
		font-size: 20px;
		height: 35px;
		line-height: 35px;
		float: left;
		margin-left: 10px;
		margin-right: 5px;
	  }
	  .volume-wrapper {
		margin-top: 14px;
		float: left;
		width: 60px;
	  }
	}

  }
}


.tracklist-wrapper {
  padding: 10px 0;
  .title {
	padding: 10px 10px;
	//background: #ccc;
	margin: 0;
  }
}
.chart-wrapper {
  border-top: 1px solid #eee;
  .stock-percentage {
	height: 30px;
	margin-bottom: 10px;
	.price {
	  float: left;
	  display: inline-block;
	  line-height: 20px;
	  height: 20px;
	  margin: 0;
	  margin-top: 5px;
	  margin-right: 10px;
	}
	.stock-bar {
	  margin-top: 10px;
	  float: left;
	  margin-right: 2px;
	  height: 10px;
	  width: 3px;
	  background: #ccc;
	  display: inline-block;
	  &.active {
		background: #397843;
	  }
	}
	.info {
	  margin-top: 5px;
	  font-size: 9px;
	  color: #2b542c;
	  margin-left: 5px;
	  float: left;
	  display: inline-block;
	  line-height: 20px;
	  height: 20px;
	}
  }
  a.btn {
	background: #1a2d40;
	margin-left: 10px;
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
  }
}

.content{
  .info-wrapper{
	p{
	  color: #555;
	  small{
		color: #999;
	  }
	}
  }
}

@media (min-width: 1200px) {
  .container {
	width: 1170px;
  }
}